.#{$prefix}-container {
  width: auto;
  max-width: $container-size;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: $gutter;
  padding-right: $gutter;

  @include slyce-mq(mobile) {
    padding-left: $gutter;
    padding-right: $gutter;
  }

  @include slyce-mq(desktop) {
    padding-left: $gutter;
    padding-right: $gutter;
  }
}